/*Esquema da Bru*/
div.esquemaDaBru {
    list-style-position: inside;
    list-style-type: lower-alpha;
}
.esquemaDaBru .alt-c, .esquemaDaBru .alt-e{
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y: center;
    background-position-x: 98%;
    padding: 5px 10px;
    margin: 0;
    width: fit-content;
    padding-right: 60px;
    transition: 150ms;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border:none;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Urbanist;
    text-align: left;
}

.esquemaDaBru .alt-c:hover, .esquemaDaBru .alt-e:hover{
    background-color: rgb(255, 221, 159);
    padding-right: 60px;
    color: #000;
}
.esquemaDaBru .alt-c.certo{
    background-color: rgb(215, 235, 175);  
    color: rgb(54, 78, 6) !important;  
    background-image: url(../snd/ico-positive.png);    
}
.esquemaDaBru .alt-e.errado{
    background-color: rgb(235, 175, 175);   
    background-image: url(../snd/ico-negative.png);    
}

h3.titleQuiz{
    padding: 25px 0 25px 90px;
    background-image: url(../img/ico_quiz.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-y: center;      
}
h3.titleQuiz.azul{background-image: url(../img/ico_quiz_azul.png);}
h4.subQuiz{
    margin-top: 0;
}

p.enunciado{
    padding-top: 10px;
    margin-top: 25px;
    color: #2c4c3a;
    font-weight: 600;
}



@media screen and (max-width:480px){

    div.esquemaDaBru{
        padding: 0;
    }
}
