@import url(../font/urbanist.css);


header{
    height: 160px;
    background: #3973B1;
}

body{
    overflow-x: hidden;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
}
p, li, td, a, button{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5

}

.logo-itec {
    position: absolute;
    margin-top: 40px;
    right: 0;
    margin-right: 50px;
    width: 200px;
}

.tela-intro, .tela-06, .tela-09,.tela-05_plus{
    background: #3973B1;
    color: white;
}
.elemento-intro{
    position: relative;
}
@keyframes introElAnim{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}


ul {
    list-style-image: url(../img/bullet_amarelo.png);
}

.destaque-tema-azul {
    background-color: #3973B1;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    border: 2px dashed #fff;
}

.verde-tema {
    color: #ffffff;
    display: inline-block;
    background-color: #95BA78;
    padding-left: 5px;
    padding-right: 5px;
}

.azul-tema {
    color: #ffffff;
    display: inline-block;
    background-color: #3983B1;
    padding-left: 5px;
    padding-right: 5px;
}



.destaque-tema-branco {
    background-color: #FAC440;
    padding: 20px;
    border-radius: 0;
    color: #1c6490;
    border: 1px solid 365f4d;
}

.tela-intro .elemento-intro::before{
    content: "";
    transform: scale(0);
    position: absolute;
    display: block;
    left: -200px;
    top: 150px;
    z-index: 100;
    width: 146px;
    height: 235px;
    background-image: url(../img/capa_ico_esq.png);
    animation: introElAnim 500ms forwards;
    animation-delay: 400ms;
}

.tela-menu{
    min-height: Calc(100vh - 160px);
    background: #3973B1;
}
.tela-menu::before{
    content:"";
    width: 146px;
    top: 50px;
    left: 10px;
    transform: scale(0);
    height: 235px;
    position: absolute;
    background-image: url(../img/capa_ico_esq.png);
    background-repeat: no-repeat;
    background-position: left center;
    animation: introElAnim 500ms forwards;
    animation-delay: 400ms;
    z-index: 100;
}

.tela-menu .container .row{
    min-height: Calc(100vh - 360px);
    background: #3973B1;
}
/* tela inicial - titulos*/
.tela-intro h1, .tela-menu h1{
    margin-bottom: 50px;
    position: relative;
    height: 230px;
    margin-bottom: 50px;
}
.tela-menu h1{
    margin-top: 40px;
    margin-bottom: initial;  
}
.tela-intro h1::before, .tela-menu h1::before{
    content: "";
    width:Calc(468px * 1.2);
    height:Calc(372px * 1.2);
    position: absolute;
    z-index: 0;
    top: -80px;
    left: -180px;
    background-image: url(../img/capa_bg_title.png);
    background-size: contain;
    background-repeat: no-repeat;    
}

.tela-intro .titulo1, .tela-menu .titulo1 {
    font-size: 60px;
    font-family: 'Urbanist-Thin';
}
.tela-intro .titulo2, .tela-menu .titulo2 {
    font-family: 'Urbanist-Bold';
    font-size: 60px;
    font-style: italic;
    margin-top: 10px;
}
.tela-intro .slogan-capa, .tela-menu .slogan-capa {
    color: #3973B1; 
    font-size: 20px;
    max-width: 550px;
    margin-top: 15px;    
    line-height: 1.3;
    z-index: 1;
    position: relative;
}

.tela-intro .titulo-capa, .tela-menu .titulo-capa{
    color: #fff;
    background: #2b6193;
    display: inline-block;
    padding: 0px 22px;
    line-height: 100%;
}

.responsive {
    max-width: 100%;
}

element.style {
    opacity: 1;
}
 .titulo1::before, .titulo-titulo1::before{
    content: '';
    position: absolute;
    left: 100%;
    top: -20px;
    width: 40px;
    height: 40px;   
    background-image: url(../img/bloco01_brilho01.png), url(../img/bloco01_brilho02.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;   
}

/* titulos telas em geral*/

section.tela-intro h2 {
    color: #3973B1;
    background: #fff;
    padding: 6px 14px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
    position: relative;
}

section.tela-01 h2{
    font-family: Urbanist-Bold;
    font-size: 1.5rem;
    color: #3973B1;
}
section.tela-01 h3{
    color: #fff;
    background: #3973B1;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

section.tela-02 h2{
    font-family: Urbanist-Bold;
    font-size: 1.5rem;
    color: white;
}
section.tela-02 h3{
    color: #94BC78;
    background: white;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}


section.tela-03 h3, section.tela-05_plus h3{
    color: #3973B1;
    background: white;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

section.tela-04 h3{
    color: #fff;
    background: #3973B1;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

section.tela-05 h3{
    color: #94BC78;
    background: white;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}


section.tela-06 h2{
    font-family: Urbanist-Bold;
    font-size: 1.5rem;
    color: white;
}

section.tela-06 h3{
    color: #3973B1;
    background: white;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

section.tela-07 h3{
    color: #fff;
    background: #3973B1;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

section.tela-08 h3{
    color: #94BC78;
    background: white;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

section.tela-09 h3{
    color: #3973B1;
    background: white;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

section.tela-10 h2{
    color: white;
    background: #3D3D3D;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.3rem;
}





/*cores de fundo das sections*/

.tela-03{
    background-color: #2b6193;
    color: white;
}
.tela-01, .tela-04, .tela-07, .tela-10{
    background: #fff9eb;   
}

.tela-02, .tela-05, .tela-08{
    background: #95ba78;
    color: white;
}


/*backgrounds*/

.tela-01{
    background-image: url(../img/bloco01_element.png);
    background-repeat: no-repeat;
    background-position: -150px bottom;

}
.tela-03{
    background-image: url(../img/bloco03_element.png);
    background-repeat: no-repeat;
    background-position: 110% 30%;
}

.tela-04{
    background-image: url(../img/bloco04_element.png);
    background-repeat: no-repeat;
    background-position: -150px top;
}

.tela-06, .tela-05_plus{
    background-image: url(../img/bloco06_element1.png),url(../img/bloco06_element2.png);
    background-repeat: no-repeat;
    background-position: 110% 10%, -110px center;
}
.tela-08{
    background-image: url(../img/bloco08_element1.png);
    background-repeat: no-repeat;
    background-position: -110px center;
}

.tela-09{
    background-image: url(../img/bloco09_element3.png),url(../img/bloco09_element2.png);
    background-repeat: no-repeat;
    background-position: -110px center, 110% 10%;
}

.container-anim{
    position: relative;
    width: 100%;
}
.ilustra-intro{
    position: relative;
    width: 100%;
    height: 60%;
  
}

.tela-menu .ilustra-intro{
    margin-top: initial;
    width: 500px;
    height: 450px;
}   

.ilustra-intro img{
    position: absolute;
    top: 0;
    left: 0;
}
.cadeira-capa{
    margin-top: 135px;
    margin-left: 150px;
}
.mesa-capa{
    margin-top: 80px;
    margin-left: 100px;
}



.transicao{
  
    width: 100%;
    height: 268px;
}

.t01{
    background-image: url(../img/transicao01.png);
}
.t02{
    background-image: url(../img/transicao02.png);
}
.t03{
    background-image: url(../img/transicao03.png);
}
.t04{
    background-image: url(../img/transicao04.png);
}
.t05{
    background-image: url(../img/transicao05.png);
}
.t06{
    background-image: url(../img/transicao06.png);
}
.t07, .t05p{
    background-image: url(../img/transicao07.png);
}
.t08{
    background-image: url(../img/transicao08.png);
}
.t09{
    background-image: url(../img/transicao09.png);
}
.t10{
    background-image: url(../img/transicao10.png);
}



/*esquema da bru por tela*/
.tela-01 .title-praticar,
.tela-04 .title-praticar{
    padding-left: 50px;
    background-image: url(../img/quiz_branco.png);
    background-repeat: no-repeat;
    background-position: 8px center;
}
.tela-01 .enunciado,
.tela-04 .enunciado{
    color: #3973B1;
}
.tela-01 .esquemaDaBru .alt-e,
.tela-01 .esquemaDaBru .alt-c,
.tela-04 .esquemaDaBru .alt-e,
.tela-04 .esquemaDaBru .alt-c{
    color: black;
}

.tela-03 .title-praticar, .tela-05_plus .title-praticar, .tela-06 .title-praticar, .tela-09 .title-praticar{
    padding-left: 50px;
    background-image: url(../img/quiz_azul.png);
    background-repeat: no-repeat;
    background-position: 8px center;
}
.tela-03 .enunciado, .tela-05 .enunciado, .tela-05_plus .enunciado, .tela-06 .enunciado,  .tela-08 .enunciado{
    color: white;
}

.tela-05 .title-praticar, .tela-08 .title-praticar{
    padding-left: 50px;
    background-image: url(../img/quiz_verde.png);
    background-repeat: no-repeat;
    background-position: 8px center;
}



.destaque{
    background-repeat: no-repeat;
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 40px auto;
    border-radius: 10px;
  }
  .destaque-livre{
    background-color: #3973B1;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    margin: 40px auto;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 90%;
  }

  .destaque.reflexao03 {
    background-image: url('../img/bloco03_refletir.png');
    background-position: 30px;
}

.destaque.placa {
    background-image: url('../img/bloco03_placanr.png');
    background-position: 10px;
}

#modulo_2_1 .destaque {
    background-color: #fff;
    color: #2B6193;
}
.destaque.dica03 {
    background-image: url('../img/bloco03_dica.png');
    background-position: 30px;
}




/* ilustras */
.ilustra{
    position: relative;

}
.ilustra img{
    position: absolute;
}
.ilustra button img{
    position: relative;
}
.ilustra button{
    border: 0;
    background-color: transparent;
}


.ilustra.t01-1, .ilustra.t02-1, .ilustra.t03{
  width: 500px;
  height: 450px;
}

.ilustra.t01-1 .img01{
  
    margin-left: 8%;
    margin-top: 20%;
}
.ilustra.t01-1 .img02{
    margin-left: 28%;
    margin-top: 23%;
}
.ilustra.t01-1 .img03{ 
    margin-top: 20%;
}

.ilustra.t01-1 .img05{ 
    margin-top: 15%;
    margin-left: 10%;
}
.ilustra.t01-1 .img06{ 
    margin-top: 10%;
    margin-left: 90%;
}
.ilustra.t01-1 .img07{ 
    margin-top: 14%;
    margin-left: 95%;
}
.ilustra.t01-1 button{
    position: absolute;
    top: 30%;
    left: 41%;
    z-index: 20;
}

.ilustra.t01-1 button:hover img{
  transform: scale(1.1);
}


.ilustra.t02-1 .img01{
  
    margin-left: 8%;
    margin-top: 20%;
}
.ilustra.t02-1 .img02{
    margin-left: 38%;
    margin-top: 40%;
}
.ilustra.t02-1 .img03{ 
    margin-top: 30%;
    margin-left: 25%;
   
}

.ilustra.t03{
  background-image: none;
}

.ilustra.t03 .img02{
    bottom: 86px;
  }

/* Tela 04 ilusta complexa*/
.bloco04_nota01, .bloco04_nota02, .bloco04_nota03, .bloco04_nota04, .bloco04_nota05, .bloco04_nota06 {
    position: absolute;
}

.bloco04_nota01, .bloco04_nota02, .bloco04_nota03,
.bloco04_nota04, .bloco04_nota05, .bloco04_nota06{
  position: absolute;
}
.bloco04_nota01{
  margin-top: 250px;
  margin-left: 0px;
  animation-duration: 1s;
  animation-name: movimentoAvancar1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bloco04_nota02{
  margin-top: 240px;
  margin-left: 170px;
  animation-duration: 2s;
  animation-name: movimentoAvancar2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bloco04_nota03{
  margin-top: 180px;
  margin-left: 40px;
  animation-duration: 1s;
  animation-name: movimentoAvancar3;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bloco04_nota04{
  margin-top: 170px;
  margin-left: 120px;
  animation-duration: 1.5s;
  animation-name: movimentoAvancar4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bloco04_nota05{
  margin-top: 285px;
  margin-left: 60px;
  animation-duration: 1.5s;
  animation-name: movimentoAvancar5;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bloco04_nota06{
  margin-top: 220px;
  margin-left: 85px;
  animation-duration: 1s;
  animation-name: movimentoAvancar6;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movimentoAvancar1{
  from {margin-top: 240px;}
  to {margin-top: 260px;}
}
@keyframes movimentoAvancar2{
  from {margin-top: 225px;}
  to {margin-top: 250px;}
}
@keyframes movimentoAvancar3{
  from {margin-top: 160px;}
  to {margin-top: 190px;}
}
@keyframes movimentoAvancar4{
  from {margin-top: 160px;}
  to {margin-top: 180px;}
}
@keyframes movimentoAvancar5{
  from {margin-top: 275px;}
  to {margin-top: 295px;}
}

@keyframes movimentoAvancar6{
  from {margin-top: 210px;}
  to {margin-top: 230px;}
}

.ilustra.tela04{
    
    height: 500px;
    width: 350px;
  
}

@keyframes pulsando{
    0%{
        transform: scale(1);
    }
    79%{
        transform: scale(1);
    }
    80%{
        transform: scale(1.05);
    }
    81%{
        transform: scale(.98);
    }
    82%{
        transform: scale(1.05);
    }
    83%{
        transform: scale(.98);
    }
    84%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}

.bloco04_caixasdesom{
    margin-top: 330px;
    position: absolute;
    animation: pulsando infinite 3500ms ease-in-out;
    transform-origin: bottom;

  }
  .bloco04_personagem{
    margin-top: 114px;
    position: absolute;
    margin-left: 150px;
  }

.ico-btn_modal {
    margin-right: 20px;
}

.bt-conforto_acustico {
    max-width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #818181;
    background-color: #fff;
    margin: 20px auto;
    margin-right: auto;
    margin-left: auto;
    color: #3973B1;
    font-family: 'Urbanist-ExtraBold', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    transition: 400ms;
}

.bt-conforto_acustico:hover {
    background-color: #fac440;
}

.img-canvas {
    position: relative;
}

.img-canvas .x-erro {
    position: absolute;
    width: 2vw;
    transition: 200ms;
    opacity: 0;
    pointer-events:none;
}
.img-canvas .x-erro:hover {
   cursor: pointer;
   transform: scale(1.1)
}
.img-canvas .x-erro-1 {
    left: 34%;
    bottom: 29%;
}
.img-canvas .x-erro-2 {
    bottom: 28%;
    left: 30%;
}
.img-canvas .x-erro-3 {
    bottom: 22%;
    left: 19%;
}
.img-canvas .x-erro-4 {
    left: 30%;
    bottom: 21%;
}
.img-canvas .x-erro-5 {
    top: 8%;
    right: 26%;
}
.img-canvas .x-erro-6 {
    right: 10%;
    bottom: 28%;
}
.img-canvas .x-erro-7 {
    right: 12%;
    bottom: 38%;
}

.tela-04 .destaque {
    background-color: #3973B1;
    color: #fff;
}
.destaque.dica04 {
    background-image: url('../img/bloco04_dica.png');
    background-position: 30px;
}
#mostrar-respostas {
    display: none;
}
#accordionFlushExample{
    margin-bottom: 20px;
}

#accordionFlushExample button{
    border-radius: 10px;
    font-weight: bolder;
    color: #94BC78;
}
#accordionFlushExample button[aria-expanded=true]{
    border-radius: 10px;
    color: white;
    background-color: #679846;
}
#accordionFlushExample button::after{
    display:none
}
#accordionFlushExample button[aria-expanded=true]::after{
   
   display:none
    
}
#accordionFlushExample *{
    background-color: transparent;
    border: 0;
}
#accordionFlushExample button{
    border-radius: 5px;
    background-color: transparent;
    background-color: white;
    padding: 10px;
    margin-top: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}
#accordionFlushExample .accordion-body{
    background-color: white;
    color: #0c0c0c;
    margin-bottom: 5px;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}
.ilustra.tela-05{
    height:450px;
    width: 430px;  
}
.ilustra.tela-05 .img01{
   margin-top: 20%; 
}
.ilustra.tela-05 .img02{
   
    left: 50px;
}


.tela-05 .destaque-livre {
    background-color: #fff;
    color: #95ba78;
    font-family: Urbanist-Bold;
    font-size: 17px;  
    padding-left: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../img/bloco05_refletir.png);
    background-position: 20px center;
    background-repeat: no-repeat;
}


.div-cards {
    width: 260px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    margin: 0px auto;
    border-radius: 10px;
    color: #555555;
    border: 1px solid white;
    box-shadow: inset 0 0 0 5px #406FB1;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.tela-06 .destaque {
    background-color: #fff;
    color: #3973B1;
}
.destaque.importante {
    background-image: url('../img/bloco06_importante.png');
    background-position: 30px;
}

.ilustra.tela09{

    height: 400px;
}

.ilustra.tela09 .img01{
    left: 120px;
}
.ilustra.tela09 .img02{
    left: 150px;
}

/*roda laboral*/

.tela-07{
    background-image: url(../img/bloco07_element.png), url(../img/bloco07_element.png);
    background-repeat: no-repeat;
    background-position:  -15% bottom, 115% top;
}

.bloco07_fundo{
    margin: 40px auto;
    display: block;
    width: 492px;
    height: 492px;
    background: url('../img/bloco07_fundo.png') no-repeat;
  }
  .bt-player{
    background: url('../img/bt_play.png') no-repeat;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 100%;
    position: absolute;
  }
  .bt-player:hover{
      transform: scale(1.1);
      z-index: 2;
  }
  .bt-player01{
    margin-top: 260px;
    margin-left: -28px;
    background-image: url(../img/bt-player01.png);
    height: 56px;
    width: 83px;
    border-radius: 0;
  }
  .bt-player01:hover {
      background-position: -83px;
      transform: scale(1);
  }
  .bt-player02{
    margin-top: 70px;
    margin-left: -10px;
    background-image: url(../img/bt-player02.png);
    height: 56px;
    width: 166px;
    border-radius: 0;
  }
  .bt-player02:hover {
    background-position: -165px;
    transform: scale(1);
  }   
  .bt-player03{
    margin-top: -26px;
    margin-left: 160px;
    background-image: url(../img/bt-player03.png);
    height: 56px;
    width: 166px;
    border-radius: 0;
  }
  .bt-player03:hover {
    background-position: -165px;
    transform: scale(1);
  }   
  .bt-player04{
    margin-top: 70px;
    margin-left: 365px;
    background-image: url(../img/bt-player04.png);
    height: 56px;
    width: 166px;
    border-radius: 0;
  }
  .bt-player04:hover {
    background-position: -165px;
    transform: scale(1);
  }   
  .bt-player05{
    margin-top: 260px;
    margin-left: 385px;
    background-image: url(../img/bt-player05.png);
    height: 56px;
    width: 166px;
    border-radius: 0;
  }
  .bt-player05:hover {
    background-position: -165px;
    transform: scale(1);
  }  
  .bt-player06{
    margin-top: 410px;
    margin-left: 330px;
  }
  .bt-player07{
    margin-top: 420px;
    margin-left: 100px;
  }
  .bloco07_personagem {
    position: absolute;
    top: 110px;
    left: 200px;
  }
  .roda-laboral {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .img-sete_erros {
    border: #fff solid 2px;
    border-radius: 10px;
    margin: 30px auto;
}

.bt-respostas {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #444;
    background-color: #fff;
    margin: 30px auto 0px auto;
    display: block;
    color: #3973B1;
    font-family: Urbanist-ExtraBold;
}
#modal-respostas{
    color: #555555;
}

.modal-video .modal-dialog{
    min-width: 100vw !important;
}

.modal-video .modal-content{
    background-color: transparent !important;
    border: 0;

    
}
.modal-video .modal-header{
    border: 0; 
    width: 90vw;
    max-width: 60em;
    display: block;
    margin: 0 auto;  
    text-align: right; 
}
.modal-video .modal-footer{
    border: 0;
}

.modal-video iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 10px;
    width: 90vw;
    height: Calc(90vw * 9/16);
    max-width: 60em;
    max-height: Calc(60em * 9/16);
}
.modal-video .btn-close{
    opacity: 1;
    border-radius: 50%;
    background: #3973B1 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.tela-10{
    padding-bottom: 10vh;
}

.modal-backdrop.show{
    opacity: .75;
}

#iluminacaoNaPratica{
    min-height: 330px;
    margin-bottom: 20px;
    margin-top: 30px;

}
#iluminacaoNaPratica p{
    line-height: 1.2;
}

.carousel-control-prev,.carousel-control-next{   
    opacity: 1;
}
#iluminacaoNaPratica .carousel-control-prev-icon{
    background: url(../img/bt_esq_disable.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;    
}
#iluminacaoNaPratica .carousel-control-prev-icon:hover{
    background: url(../img/bt_esq.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;   
}

#iluminacaoNaPratica .carousel-control-next-icon{
    background: url(../img/bt_dir_disable.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;      
}
#iluminacaoNaPratica .carousel-control-next-icon:hover{
    background: url(../img/bt_dir.png);
    background-position: center;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;    
}
#iluminacaoNaPratica .carousel-indicators li{
    background: url(../img/slide_idle.png);
    background-position: center;
    background-repeat: no-repeat;   
}

#iluminacaoNaPratica .carousel-indicators li.active{
    background: url(../img/slide_active.png);
    background-position: center;
    background-repeat: no-repeat;
}

.clique{
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.breaker{
    word-break: break-all;
}

#nav-menu button, nav#topicos a.btn{
    background-color: white;
    font-weight: bold;
    color: #426EAF;
    font-size: 1rem;
    line-height: 1.5;
}
nav#topicos a.btn{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
#nav-menu button:hover,  nav#topicos a.btn:hover{
    background-color: #fac440;
    transform: scale(1.05);
}
#nav-menu button::before,  nav#topicos a.btn::before{
    content: "";
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
}

nav#topicos a.btn::before{
   
    width: 20px;
    height: 20px;   
    margin-right: 10px;
    margin-top: -3px;    
}

nav#topicos a.btn#bt-menu::before{
    background-image: url(../img/home.png);
}

nav#topicos a.btn#bt-prev-topic::before{
    background-image: url(../img/left-arrow.png);
    background-size: 16px;
    margin-top: 0;    
}
nav#topicos a.btn#bt-next-topic::before{
    background-image: url(../img/right_arrow.png);
    background-size: 16px;
    margin-top: 0;    
}


#nav-menu button:nth-child(1)::before{
    
    background-image: url(../img/menu-ico01.svg);
}
#nav-menu button:nth-child(2)::before{
 
    background-image: url(../img/menu-ico02.svg);
}
#nav-menu button:nth-child(3)::before{
   
    background-image: url(../img/menu-ico03.svg);
}
#nav-menu button:nth-child(4)::before{
   
    background-image: url(../img/menu-ico04.svg);
}


.btn-fechar-modal{
    border: 0;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    font-size: 1rem;
    font-weight: bold;
    color: #3973B1;
    padding: 5px 25px;
    border-radius: 5px;
}

.btn-fechar-modal:hover{
    transform: scale(1.1);
}

.modal-100 .btn-close{
    opacity: 1;
    border-radius: 50%;
    background: #3973B1 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.laboral-mobile {
    display: none;
}

.bt-play-bg {
    background-color: #3973b1;
    background-image: url(../img/bt-play-bg.png);
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 43px;
    border-radius: 6px;
    background-position: left 5px center;
    color: #fff;
    display: inline-block;
}
.bt-play-bg:hover {
    background-color: #fac440;
    cursor: pointer;
}

.capa-container {
    background-color: #3973B1;
}
.flex {
    display: flex;
    gap: 30px;
}
.flex-item {
    flex: 1;
    align-self: center;
}
@media screen and (max-width: 1400px){
    .tela-intro .titulo2, .tela-menu .titulo2{
        font-size: Calc(60px * .8);
    }
    .tela-intro .slogan-capa, .tela-menu .slogan-capa {
        display: inline-block;
        padding: 5px;
    }
}

@media screen and (max-width: 1366px){

    .ilustra-intro{
        transform: scale(.86);
    }
    .tela-intro .titulo1,  .tela-menu .titulo1{
        font-size: Calc(60px * .8);
    }
    
  .tela-intro .slogan-capa, .tela-menu .slogan-capa {
    
      font-size: Calc(20px * .8);     
  }

  .tela-intro h1::before, .tela-menu h1::before{
  
      width: Calc(468px * .8);
      height: Calc(372px * .8);
     
    
      top: Calc(-80px * .8);
      left: Calc(-180px * .8);
    
  }
  .tela-intro h1::before, .tela-menu h1::before {
    left: Calc(-60px * .8);
}
  .tela-menu h1{
      margin-top: 30vh;
  }

  .tela-intro h1{
      margin-top: 80px;
      margin-bottom: 0px;
  }

  .header-menu{
      height: 30px;
  }
  .tela-menu{
   
      height: Calc(100vh - 30px); 
  }
  .tela-menu .container .row{
      min-height: initial;
     
  }
  /* #nav-menu{
      margin-top: -30px;
  } */


  #nav-menu button{
  
    font-size: .8rem;
    line-height: 1.5;
}
}


.animate__delay-05s{
    animation-delay: .5s;
  }
.animate__delay-08s{
    animation-delay: .8s;
}
.animate__delay-1s{
    animation-delay: 1s;
}
.animate__delay-1_5s{
    animation-delay: 1.5s;
}

@media screen and (max-width: 1200px){
    .tela-intro .titulo2, .tela-menu .titulo2 {
        font-size: Calc(50px * .8);
    }
}



@media screen and (max-width:1024px) and (orientation:landscape){
    .tela-menu .titulo1{
        font-size: Calc(60px * .7);
    }
    .tela-menu .titulo2{
        font-size: Calc(50px * .7);
    }
    .tela-menu .slogan-capa {      
        font-size: Calc(18px * .95);     
    }

    .tela-menu h1{
        height: 300px;
        margin-bottom: 50px;
    }

    #nav-menu{
        position: relative;
        z-index: 200;
    }
    #nav-menu button{
  
        font-size: .65rem;
        line-height: 1.5;
    }


}

@media screen and (max-width:991px){
    .flex {
        flex-direction: column;
    }
    #nav-menu button {
        font-size: .8rem;
        line-height: 1.5;
        display: block;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }

    .ilustra-intro{
        transform: scale(.95);
    }
    
    .container-anim{
        transform: scale(.8);
    }
    .ilustra-intro{
        margin-top: initial;
        height: 500px;      
        margin-bottom: -10%;
        margin-top: -10%;
    }

    #iluminacaoNaPratica .carousel-inner .row .col-12:nth-child(2){
        min-height: 390px;
    }

    #iluminacaoNaPratica{
        border: 1px solid white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    #iluminacaoNaPratica p{
        margin-left: 12vw;
        margin-right: 12vw;
        line-height: 1.2;
    }

    /* tela do menu*/
    .tela-menu .ilustra-intro{
        margin-top: initial;
        height: 500px;      
        margin-bottom: initial;
        margin-top: -60px;       
        transform: scale(.8);
        margin-left: auto;
        margin-right: auto;
    }

    .tela-menu h1{
      margin-top: 20vh;
      margin-left: 15vw;
      height: 200px;
    }
}

@media screen and (max-width:768px){
    #mostrar-erros {
        display: none;
    }
    #mostrar-respostas {
        display: block;
    }
}


@media screen and (max-width:600px){
    .tela-menu::before {
        display: none;
    }
    .laboral-mobile {
        display: block;
    }
    body{
        overflow-x: hidden;
    }
    .container-anim{
        transform: scale(.6);
        transform-origin: left center;
        margin-bottom: -60px;
        margin-top: -100px;
    }
    .ilustra.t01-1{
        transform: scale(.7);
        transform-origin: left center;
        margin-top: -80px;
        
      
    }

    .ilustra.t03{
        transform: scale(.75);
        transform-origin: left center;
        left: -10px;
        margin-bottom: -50px;
        margin-top: -50px;
        width: 300px;
    }
    
    .ilustra.tela04, .ilustra.tela-05{
        transform: scale(.75);
        transform-origin: left center;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .ilustra.tela09{
        transform: scale(.9);
        transform-origin: left center;
        margin-bottom: -130px;
        margin-left: -50px;
      
    }

    .img10{
        max-width: 230px;
        display: block;
        margin: 0 auto
    }
    

    .bloco07_fundo{
        margin: 40px auto;
        background-size: contain;
        width: Calc(492px * .6);
        height: Calc(492px * .6);;
      
      }
     .roda-laboral {
         display: none;
     }

      .destaque.importante, .destaque.dica03, .destaque.placa, .destaque.dica04, .destaque.reflexao03, .tela-05 .destaque-livre{
          padding-left: 20px;
          padding-top: 120px;
          background-position: center 10px;
      }



      .tela-intro .titulo1{
          font-size: Calc(60px * .6);
      }
      .tela-intro .titulo2{
        font-size: Calc(80px * .6);
    }

    .tela-intro .slogan-capa {
      
        font-size: Calc(20px * .9);     
    }

    .tela-intro h1::before {
    
        width: Calc(468px * .6);
        height: Calc(372px * .6);
       
      
        top: Calc(-80px * .6);
        left: Calc(-180px * .6);
      
    }

    .tela-07{
       
        background-repeat: no-repeat;
        background-position:-43% 0%, 177% 14%;
        background-size: 200px;
        z-index: 2;
        position: relative;
    }
    .transicao.t08{
        z-index: 1;
        position: relative;
    }

    .tela-02,.tela-03,
    .tela-04, .tela-06,
    .tela-08,.tela-09{
        background-image: none;
    }



    .tela-menu h1 {
        margin-top: 20vh;
        margin-left: 5vw;
        height: 200px;
    }
    
    .tela-menu .titulo1{
        font-size: Calc(60px * .5);
    }
    .tela-menu .titulo2{
        font-size: Calc(80px * .5);
    }
    .tela-menu .slogan-capa {      
        font-size: Calc(18px * .85);
        margin-top: -2px;   
    }

    /* tela do menu*/
    .tela-menu .ilustra-intro{
        margin-top: -129px;
        transform: scale(.7);
        margin-left: 22%;
        margin-right: auto;
    }
.tela-menu{
    overflow-x: hidden;
}

    #nav-menu{
        margin-top: -90px;
        z-index: 2;
        position: relative;
    }
    #nav-menu button{
        margin-top: 4px;
        width: 100%;
        text-align: left;
    }


}


@media screen and (max-width:375px){
    .tela-menu h1 {
        margin-top: 20vh;
        margin-left: 5vw;
        height: 200px;
    }
    .logo-itec.logo-menu{
        margin-top: 10px;
        margin-right: 10px;
    }
    .tela-menu .titulo1{
        font-size: Calc(60px * .4);
    }
    .tela-menu .titulo2{
        font-size: Calc(80px * .4);
    }
    .tela-menu .slogan-capa {      
        font-size: Calc(16px * .75);     
    }
    .tela-menu .ilustra-intro{
      
        display: none;
    }
    #nav-menu{
        margin-top: 0px;
        z-index: 2;
        position: relative;
    }
    .tela-menu::before{
        display: none;
    }
}

@media screen and (max-width: 445px){
    .tela-menu::before{
        display: none;
    }
    .tela-intro h1{
        height: 100px;
        margin-bottom: 120px;
    }
}

@media screen and (max-width:900px) and (orientation:landscape){
    .logo-itec.logo-menu{
        margin-top: 10px;
        margin-right: 10px;     
    }

    .tela-menu h1{
        margin-bottom: 0px;
        width: 250px;
        margin-top: 20px;
    }
    .tela-menu .titulo1{
        font-size: Calc(60px * .4);
    }
    .tela-menu .titulo2{
        font-size: Calc(80px * .4);
    }
    .tela-menu .slogan-capa {      
        font-size: Calc(20px * .75);     
    }
    #nav-menu{
        margin-top: -40px;
        z-index: 2;
        position: relative;
       
        text-align: center;
    }
    #nav-menu button{
        margin: 3px;
    }
}

@media screen and (max-width:700px) and (orientation:landscape){
    .tela-menu h1{       
        margin-top: 50px;
    }
    .tela-menu::before{
        display: none;
    }

}

.mt-100 {
    margin-top: 100px;
}



