.espera-video {
    width: 300px;
    height: 300px;
    background-color: #C489BB;
}

.elemento-esquerda {
    position: absolute;
    margin-left: -52%;
    margin-top: 48%;
}

.elemento-direita {
    position: absolute;
    margin-left: 121%;
    width: 25%;
    margin-top: -10%;
}

.img-jpg{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

body {
    /* background-image: url('../../01_experimentacao/img/textura.png'); */
    /* background-image: radial-gradient(farthest-corner at -2% 25%, #92ACCE 0%, transparent 25%), radial-gradient(farthest-corner at 50% 100%, #CF9993 0%, transparent 15%); */
    /* position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important; */
    /* background-attachment: fixed !important; */
    /* height: auto;
    overflow-x: hidden; */
}
.bloco-1{
    /* background: url('img/bg1.jpg'); */
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed !important;

}
.bloco-2{
    /* background: url('img/bg2.jpg'); */
    background-attachment: fixed !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ffeded;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bloco-3{
    /* background: url('img/bg3.jpg'); */
    background-attachment: fixed !important;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bloco-4{
    /* background: url('img/bg4.jpg'); */
    background-attachment: fixed !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ffefef;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bloco-5{
    /* background: url('img/bg5.jpg'); */
    background-attachment: fixed !important;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #b7d9fe;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bloco-6{
    background-attachment: fixed !important;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #b7d9fe;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bloco-2 {
    /* background-image: linear-gradient(to right top, rgba(128, 172, 211, 0.5), rgba(227, 144, 140, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); */
    /* url(caminho/para/sua/imagem.jpg);
    background-position: top right; */
}

.img-div {
    margin-top: -10%;
}

.bloco-3 {
    /* margin-top: -5%; */
    /* background-image: linear-gradient(to left top, rgba(128, 172, 211, 0.5), rgba(227, 144, 140, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); */
}


.paragrafo-padding {
    padding-bottom: 21%;
}

.paragrafo-padding2 {
    padding-bottom: 11%;
}

#booklet {
    margin-bottom: -5%;
}

.painel-pdca-gestao {
    background: url('./img/painel1_bg-cop.png') no-repeat;
    background-position: top;
    background-size: 33%;
    padding-bottom: 8%;
}

.painel-pdca1 {
    background: url('./img/grafico2.png') no-repeat center bottom;
    background-size: 100%;
    display: block;
    width: 718px;
    height: 741px;
    position: relative;
    margin: -45px auto;
}

.btn-acao {
    position: absolute;
    margin-top: 32%;
    left: 26%;

}

.btn-acao:hover,
.btn-planejamento:hover,
.btn-execucao:hover,
.btn-verificacao:hover {
    transform: scale(1.1);
}

.btn-planejamento {
    position: absolute;
    margin-top: 32%;
    left: 51.7%;
}

.btn-execucao {
    position: absolute;
    margin-top: 59.5%;
    left: 54%;
}

.btn-verificacao {
    position: absolute;
    margin-top: 59.5%;
    left: 23%;
}

.btn-viagem {
    background: url('./img/painel2_bt1.png');
    background-size: 100%;
    display: block;
    width: 196px;
    height: 196px;
    border: unset;
}

.btn-viagem:hover {
    background: url('./img/painel2_bt1_hover.png');
    background-size: 100%;
    width: 204px;
    height: 195px;
    border: unset;
}

.btn-consultorio {
    background: url('./img/painel2_bt3.png');
    background-size: 100%;
    display: block;
    width: 196px;
    height: 196px;
    border: unset;
}

.btn-consultorio:hover {
    background: url('./img/painel2_bt3_hover.png');
    background-size: 100%;
    width: 205px;
    height: 196px;
    border: unset;
}

.btn-loja {
    background: url('./img/painel2_bt2.png');
    background-size: 100%;
    display: block;
    width: 196px;
    height: 196px;
    border: unset;
}

.btn-loja:hover {
    background: url('./img/painel2_bt2_hover.png');
    background-size: 100%;
    width: 205px;
    height: 196px;
    border: unset;
}

.btn-fabrica {
    background: url('./img/painel2_bt4.png');
    background-size: 100%;
    display: block;
    width: 196px;
    height: 196px;
    border: unset;
}

.btn-fabrica:hover {
    background: url('./img/painel2_bt4_hover.png');
    background-size: 100%;
    width: 205px;
    height: 196px;
    border: unset;
}

.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('./img/bt_visualizar.png');
    display: block;
    width: 88px;
    height: 88px;
    right: 20%;
    bottom: 2%;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.painel-tabelas {
    max-width: 500px;
    margin-left: 25%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.bloco-tabelas {
    background: url('./img/painel1_bg-cop.png') no-repeat;
    background-position: top;
    background-size: 58%;
    margin-bottom: 5%;
}

.tabela-masp td,
tr {
    border-color: var(--cor-primaria);
    border-width: 1px;
}

.tabela-masp th {
    border-color: #fff;
    border-width: 1px;
}

.tabela-masp thead {
    background: linear-gradient(to right, #80ACD3, #004788);
}

.btn-comercio {
    background: url('./img/painel4_bt1.png');
    background-size: 100%;
    display: block;
    width: 222px;
    height: 234px;
    border: unset;
}

.btn-comercio:hover {
    background: url('./img/painel4_bt1_hover.png');
    background-size: 100%;
    width: 222px;
    height: 234px;
    border: unset;
}

.btn-agencia {
    background: url('./img/painel4_bt2.png');
    background-size: 100%;
    display: block;
    width: 216px;
    height: 234px;
    border: unset;
}

.btn-agencia:hover {
    background: url('./img/painel4_bt2_hover.png');
    background-size: 100%;
    width: 216px;
    height: 234px;
    border: unset;
}

.btn-fabrica-masp {
    background: url('./img/painel4_bt3.png');
    background-size: 100%;
    display: block;
    width: 215px;
    height: 234px;
    border: unset;
}

.btn-fabrica-masp:hover {
    background: url('./img/painel4_bt3_hover.png');
    background-size: 100%;
    width: 216px;
    height: 234px;
    border: unset;
}

.btn-download {
    margin-top: -14%;
    width: 238px;
    height: 238px;
    scale: 1.2;
}

.img-destaque {
    margin-top: -15%;
}

.bloco-paralax{
    width: 100%;
    height: 400px;
    background: url(img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed !important;
}
.bloco-paralax2{
    width: 100%;
    height: 400px;
    background: url(img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed !important;
}
.bloco-paralax3{
    width: 100%;
    height: 400px;
    background: url(img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed !important;
}
.bloco-paralax4{
    width: 100%;
    height: 400px;
    background: url(img/bg4.jpg);
    background-size: cover;
    background-attachment: fixed !important;
}
.bloco-paralax5{
    width: 100%;
    height: 400px;
    background: url(img/bg5.jpg);
    background-size: cover;
    background-attachment: fixed !important;
}

/*  */

.btn-estrutura-mob:hover {
    background: url('img/bt01b.png');
}
    .btn-estrutura-mob {
    background: url('img/bt01.png');
    background-size: 100%;
    display: block;
    width: 181px;
    height: 126px;
    border: unset;
}

.btn-divisao-trabalho-mob:hover{
    background: url('img/bt02b.png');
}
    .btn-divisao-trabalho-mob{
    background: url('img/bt02.png');
    background-size: 100%;
    display: block;
    width: 168px;
    height: 126px;
    border: unset;

}
.btn-coordenacao-mob:hover{
    background: url('img/bt03b.png');
}
.btn-coordenacao-mob{
    background: url('img/bt03.png');
    background-size: 100%;
    display: block;
    width: 168px;
    height: 126px;
    border: unset;

}
.btn-ambiente-mob:hover{
    background: url('img/bt04b.png');
}
    .btn-ambiente-mob{
    background: url('img/bt04.png');
    background-size: 100%;
    display: block;
    width: 168px;
    height: 126px;
    border: unset;

}
.btn-cultura-mob:hover{
    background: url('img/bt05b.png');
}
    .btn-cultura-mob{
        background: url('img/bt05.png');
    background-size: 100%;
    display: block;
    width: 168px;
    height: 126px;
    border: unset;

}
@media only screen and (max-width:1440px) {
    .elemento-direita {
        position: absolute;
        margin-left: 96%;
        width: 25%;
        margin-top: -10%;
    }

    .elemento-esquerda {
        position: absolute;
        margin-left: -27%;
        margin-top: 48%;
    }
}


@media only screen and (max-width:1400px) {
    .elemento-direita {
        position: absolute;
        margin-left: 94%;
        width: 25%;
        margin-top: -10%;
    }

    .elemento-esquerda {
        position: absolute;
        margin-left: -26%;
        margin-top: 48%;
    }
}


@media screen and (max-width:820px) {
    .elemento-direita {
        display: none;
    }

    .elemento-esquerda {
        display: none;
    }

    .bloco-tabelas {
        background: url('./img/painel1_bg.png') no-repeat top;
        margin-left: unset;
        background-size: 70%;
        padding-top: 44px;
    }

    .painel-tabelas {
        margin-left: 14%
    }

    .btn-download {
        margin-top: -14%;
        margin-left: unset;
        scale: 1.3;
    }

    .img-destaque {
        margin-top: -3%;
    }
}

@media only screen and (max-width:768px) {
    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 17%;
        bottom: 2%;
    }

}



@media screen and (max-width:480px) {
    .painel-pdca1 {
        scale: 0.5;
        margin: -55% -50%;
    }

    .painel-praticas-pdca .col {
        flex: 1;
        margin-bottom: 10px;
    }

    .painel-praticas-pdca .row {
        display: flex;
        flex-direction: column;
        margin: 10% 17%;
    }

    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 1%;
        bottom: 6%;
    }

    .bloco-tabelas {
        background: unset
    }

    .painel-tabelas {
        margin-left: unset;
    }

    .painel-masp .row {
        display: flex;
        flex-direction: column;
    }

    .btn-download {
        margin-top: -14%;
        margin-left: 17%;
        scale: 1.0;
    }

    .img-destaque {
        display: none;
    }



}

@media screen and (max-width: 375px) {
    .painel-pdca1 {
        scale: 0.5;
        margin: -55% -63%;
    }

    .painel-praticas-pdca .row {
        display: flex;
        flex-direction: column;
        margin: 10% 10%;
    }
}