.espera-video {
    width: 300px;
    height: 300px;
    background-color: #C489BB;
}

.elemento-esquerda {
    position: absolute;
    margin-left: -52%;
    margin-top: 48%;
}

.elemento-direita {
    position: absolute;
    margin-left: 121%;
    width: 25%;
    margin-top: -10%;
}


body {
    background: linear-gradient(to bottom, #8aacd0, #adbfdc, #ccd3e7, #e7e8f3, #ffffff),
    radial-gradient(farthest-corner at 5% 5%, #C489BB 0%, transparent 60%);
    /* Defina o modo de mistura */
    background-blend-mode: normal, normal;
    /* Defina o tamanho e o posicionamento */
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, bottom;
    /* height: auto; */
    /* Removi a altura automática para ajustar o conteúdo */
    overflow-x: hidden;
}
























body {
    /* background-image: url('../../01_experimentacao/img/textura.png');
    background: linear-gradient(to bottom, #8aacd0, #adbfdc, #ccd3e7, #e7e8f3, #ffffff), 
    radial-gradient(circle at bottom left, rgba(255,255,255,1) 0%, rgba(224,141,137,1) 100%);
    /* position: relative; */
    /* background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important; */
    /* background-attachment: fixed !important; 
    height: auto;
    overflow-x: hidden; */
}

.imagem-borda {
    padding: 5%;
    border: red solid;
    border-radius: 10%;
    max-width: 250px;
}

.borda-esquerda {
    border-left-width: 6px;
}

.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('./img/bt_visualizar.png');
    display: block;
    width: 88px;
    height: 88px;


    right: 4%;
    bottom: 4%;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}









@media screen and (max-width:1440px) {
    .borda-esquerda {
        border-left-width: 5px;
    }
}