.espera-video {
    width: 300px;
    height: 300px;
    background-color: #C489BB;
}

.elemento-esquerda {
    position: absolute;
    margin-left: -52%;
    margin-top: 48%;
}

.elemento-direita {
    position: absolute;
    margin-left: 121%;
    width: 25%;
    margin-top: -10%;
}

body {
    background-image:
    radial-gradient(farthest-corner at 90% 0%, #E08D89 0%, transparent 45%),
        radial-gradient(farthest-corner at -2% 25%, #92ACCE 0%, transparent 25%),
        linear-gradient(to top, rgba(138, 172, 208, 0.5), rgba(173, 191, 220, 0.5), rgba(204, 211, 231, 0.5), rgba(231, 232, 243, 0.5), rgba(255, 255, 255, 0.5));
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    /* background-attachment: fixed !important; */
    height: auto;
    overflow-x: hidden;
}

.imagem-borda {
    padding: 5%;
    border: red solid;
    border-radius: 10%;
    max-width: 250px;
}

.borda-esquerda {
    border-left-width: 6px;
}

.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('./img/bt_visualizar.png');
    display: block;
    width: 88px;
    height: 88px;
    right: 0%;
    bottom: 5%;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}




@media screen and (max-width:1440px) {
    .borda-esquerda {
        border-left-width: 5px;
    }
}